# Repo: thomas-mocker-swo/reuseable
# File: .github/workflows/terraform-plan-on-pr.yml

name: Use central Terraform Plan on PR

on:
  pull_request:
    branches:
    - main
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  security-events: write  

jobs:
  terraform:
    uses: thomas-mocker-swo/reuseable/.github/workflows/terraform-plan-on-pr.yml@195c7379b97633f11163fb28693c2d3da2414d81 #main oder fester Commit SHA
    with:
      tf_working_directory: "."   # oder z.B. "infra/terraform"
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
